<!DOCTYPE html>
<html ng-app="lido">
  <head>
    <title>Lido: Take it Down</title>

    <!-- Angular JS -->
    <script src="../static/js/angular.min.js"></script>

    <!-- App entry point for Angular JS -->
    <script src="../static/app.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/styles.css"/>
  </head>
  <body>
    <h2>Silly h2</h2>
    <!-- Firebase Scripts -->
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAW5qeErh8apMgg9hF1gUBa5W40E92m8Ak",
        authDomain: "lido-1c8cb.firebaseapp.com",
        databaseURL: "https://lido-1c8cb.firebaseio.com",
        storageBucket: "",
      };
      firebase.initializeApp(config);
    </script>
  </body>
</html>