<!DOCTYPE html>
<html>
<head>
    <title>Lido: Take it Down</title>
</head>
<body>
    <!-- Firebase Scripts -->
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAW5qeErh8apMgg9hF1gUBa5W40E92m8Ak",
        authDomain: "lido-1c8cb.firebaseapp.com",
        databaseURL: "https://lido-1c8cb.firebaseio.com",
        storageBucket: "",
      };
      firebase.initializeApp(config);
    </script>
</body>
</html>